*mangle

:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

#-A FORWARD -m policy --pol ipsec --dir in -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss --mss 1361:1536 -j TCPMSS --set-mss 1360
#-A FORWARD -m policy --pol ipsec --dir out -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss --mss 1361:1536 -j TCPMSS --set-mss 1360
#-A FORWARD -s {{ .Env.STRONGSWAN_IP6_POOL }} -p tcp -m tcp --tcp-flags SYN,RST SYN -m tcpmss --mss 1361:1536 -j TCPMSS --set-mss 1360
#{{ if gt (atoi .Env.STRONGSWAN_REDUCE_MTU) 0 }}
#-A FORWARD -s {{ .Env.STRONGSWAN_IP6_POOL }} -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --set-mss {{ sub 1340 (atoi .Env.STRONGSWAN_REDUCE_MTU) }}
#{{ end }}

COMMIT


*nat

:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{{ if and .Env.STRONGSWAN_DNAT_53 (toBool .Env.STRONGSWAN_DNAT_53) }}
-A PREROUTING -s {{ .Env.STRONGSWAN_IP6_POOL }} -p tcp -m tcp --dport 53 -j DNAT --to-destination [{{ .Env.STRONGSWAN_DNS6 }}]:53
-A PREROUTING -s {{ .Env.STRONGSWAN_IP6_POOL }} -p udp -m udp --dport 53 -j DNAT --to-destination [{{ .Env.STRONGSWAN_DNS6 }}]:53
{{ end }}

-A POSTROUTING -s {{ .Env.STRONGSWAN_IP6_POOL }} -m policy --pol none --dir out -j MASQUERADE

COMMIT


*filter

:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Create the ICMPV6-CHECK chain and its log chain
# These chains are used later to prevent a type of bug that would
# allow malicious traffic to reach over the server into the private network
# An instance of such a bug on Cisco software is described here:
# https://www.insinuator.net/2016/05/cve-2016-1409-ipv6-ndp-dos-vulnerability-in-cisco-software/
# other software implementations might be at least as broken as the one in CISCO gear.
:ICMPV6-CHECK - [0:0]
:ICMPV6-CHECK-LOG - [0:0]

-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p esp -j ACCEPT
-A INPUT -m ah -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type echo-request -m hashlimit --hashlimit-upto 5/s --hashlimit-mode srcip --hashlimit-srcmask 32 --hashlimit-name icmp-echo-drop -j ACCEPT
-A INPUT -p udp -m multiport --dports 500,4500 -j ACCEPT

-A INPUT -p icmpv6 --icmpv6-type router-advertisement -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type neighbor-solicitation -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type neighbor-advertisement -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type redirect -m hl --hl-eq 255 -j ACCEPT

-A FORWARD -s {{ .Env.STRONGSWAN_IP6_POOL }} -d {{ .Env.STRONGSWAN_IP6_POOL }} -j {{ if and .Env.STRONGSWAN_DROP_BETWEEN_CLIENTS (toBool .Env.STRONGSWAN_DROP_BETWEEN_CLIENTS) }}DROP{{ else }}ACCEPT{{ end }}

-A FORWARD -j ICMPV6-CHECK
-A FORWARD -p tcp --dport 445 -j {{ if and .Env.STRONGSWAN_BLOCK_SMB (toBool .Env.STRONGSWAN_BLOCK_SMB) }}DROP{{ else }}ACCEPT{{ end }}
-A FORWARD -p udp -m multiport --ports 137,138 -j {{ if and .Env.STRONGSWAN_BLOCK_NETBIOS (toBool .Env.STRONGSWAN_BLOCK_NETBIOS) }}DROP{{ else }}ACCEPT{{ end }}
-A FORWARD -p tcp -m multiport --ports 137,138 -j {{ if and .Env.STRONGSWAN_BLOCK_NETBIOS (toBool .Env.STRONGSWAN_BLOCK_NETBIOS) }}DROP{{ else }}ACCEPT{{ end }}

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A FORWARD -m conntrack --ctstate NEW -s {{ .Env.STRONGSWAN_IP6_POOL }} -m policy --pol ipsec --dir in -j ACCEPT

# Use the ICMPV6-CHECK chain, described above
-A ICMPV6-CHECK -p icmpv6 -m hl ! --hl-eq 255 --icmpv6-type router-solicitation -j ICMPV6-CHECK-LOG
-A ICMPV6-CHECK -p icmpv6 -m hl ! --hl-eq 255 --icmpv6-type router-advertisement -j ICMPV6-CHECK-LOG
-A ICMPV6-CHECK -p icmpv6 -m hl ! --hl-eq 255 --icmpv6-type neighbor-solicitation -j ICMPV6-CHECK-LOG
-A ICMPV6-CHECK -p icmpv6 -m hl ! --hl-eq 255 --icmpv6-type neighbor-advertisement -j ICMPV6-CHECK-LOG
-A ICMPV6-CHECK-LOG -j LOG --log-prefix "ICMPV6-CHECK-LOG DROP "
-A ICMPV6-CHECK-LOG -j DROP

COMMIT
